.cliente{
	display: flex;
	
}

.titleClient{
    font-family: 'Voltaire', sans-serif;
    font-size: 25px;
    color: white;
}

.inputClient{
    margin-left: 12px;
    margin-top: 1px;
    height: 34px;
    width: 145px;
    font-family:  'Voltaire', sans-serif;
    border-radius: 5px;
    border-color: rgb(235, 181, 7);
    border-style: solid;
    margin-right: 12px;
	
}
.mesa{
	margin-left: 2px;
    height: 34px;
    width: 50px;
    font-family: 'Voltaire', sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 187, 7);
    border-style: solid;
    background-color: rgb(233, 183, 19);
    margin-left: 1rem;
    margin-top: 1px;
}

