.waitress {
    width: 100%;
    border-radius: 5px;
    display: inline;
}

.title-custom{
    display: flex;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;

}    

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .date{
      font-size: 22px;
      display: flex;
      justify-content: flex-end;
  }
  
  .button {
      margin-left: 150px;
  
  }

  .waitress { 
       margin-left: 10%;
   }
   
   .title-custom{
      display: flex;
      margin: 0;
      display: flex;
      justify-content: center;


   }
}