body{
    background: black;
}

.col {
    width: 100px;
    height: 260px;
    background: black;
    opacity: 70%;
    color:white;
    margin:5px;
    margin-top: 20px;
    z-index: 1;
}

.back{
    background-color: whitesmoke;
    opacity: white 50%; 
    border-radius: 10px;
    margin: 0 5px 0 5px;
}

.jamonqueso, .croissant, .americano, .latte, .muffin, .jugo, .simple, 
.doble, .cesar, .wrap, .cerveza, .nachos, .limonada, .aritos, .soda,
.papas, .nuggets {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    opacity: 80%;
}


p{
    font-family: 'Voltaire', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Voltaire', sans-serif;
    font-size: 30px; 
}
.card-img{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.card-img img{
    margin: 0 auto;
}
.row{
    margin: 0;
}
.title-menu{
    font-size: 50px;
    color: black;
}
@media (max-width: 768px){
    .title-menu{
        font-size: 60px;
    }
}