.buttonModal {
    margin-top: 2em;
    height: 30px;
    width: 200px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 3px;
    background-color: whitesmoke;
    border: whitesmoke;
    border-radius: 5px;
    font-family: 'Voltaire', sans-serif;
    font-size: 20px;
}

.buttonModal:hover {
    background-color: black;
    color:white;
}