@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body {
    background-color: black;

}

.burgerHome { 
   height: 400px;
    margin-left: 30%;
}

.button {
    height: 3em;
    width: 8em;
    background:#615B4E;
    font-size: 25px;
    font-family: 'Voltaire', sans-serif;
    border-radius: 12px;
    margin-left: 200px;
    color: #fbf5f3;
    font-weight: bold;


}

button:hover {
    background:dimgrey;
    color:white;
}

.button-welcome {
    display: flex;
    align-items: row;
}


.title-custom {
    color:white;
    font-family: 'Voltaire', sans-serif;
    font-size: 30px;
    margin-left: 39%;
}
    
.title{
    font-size: 80px !important;
    color: white;
}

.subtitle{
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
    color: #d38f22;
}

.line {
    height: 10px;
    width: 100px;
    color:#d38f22;
    display: flex;
    justify-content: center;
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .date{
        font-size: 22px;
        display: flex;
        justify-content: flex-end;
    }
    
    .button {
        margin-left: 150px;
    
    }

    .burgerHome { 
        height: 400px;
         margin-left: 5%;
     }

     body{
        overflow-x: hidden;
     } 
     
}
    /* Styles */