.Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  

  .newMenu-Data__type {
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
    background-color: whitesmoke;
    border: whitesmoke;
    border-radius: 5px;
    font-family: 'Voltaire', sans-serif;
 
  }
 
  .newMenu-Data__type:hover {
    background-color:black;
  }
  
  

  .newMenu-Data__item {
    display: inline-block;
    margin: 4px;
    width: 140px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fbf5f3;
    font-family: 'Voltaire', sans-serif;
    cursor: pointer;

  }
  
  .newMenu-Data__item span {
    display: block;
  }
  
  .img-menu{
    width: 200px;
    border-radius: 10px;
  }

  /* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .date{
      font-size: 22px;
      display: flex;
      justify-content: flex-end;
  }
  
  

   
   
}